body{
    width: 100%;
    background-image: url(hehe.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
img{
    width: 200px;
    height: fit-content;
}
h1{
    text-align: center; color: rgb(45, 52, 26); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.halo{
    text-align: center;
}
table{
    height: 300px;
    background-color: lightgray;
}
.biodata{
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}
a{
    color: black;
}
.sekolah{
    color: red;
}
hr{
    border: 1px solid black; width: 100%;
}